[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Grommish
[access "refs/for/refs/*"]
	read = group user/Grommish
	push = group user/Grommish
	label-Code-Review = -2..+2 group user/Grommish
	label-Verified = -1..+1 group user/Grommish
	rebase = group user/Grommish
	removeReviewer = group user/Grommish
	submit = group user/Grommish
[access "refs/heads/*"]
	read = group user/Grommish
	create = group user/Grommish
	push = +force group user/Grommish
	pushMerge = group user/Grommish
[access "refs/tags/*"]
	push = +force group user/Grommish
	pushTag = group user/Grommish
	pushSignedTag = group user/Grommish
